
\.qmake\.stash

DataAgregatorProject\.pro\.user

test\.json

*.user

*.9-pre1

build/

DaggyCore/daggycore_export.h

__pycache__/

*.autosave

.vscode/

*.rc

CMakeLists.txt.user.*

.DS_Store

src/DaggyCore/daggycore_export.h

src/html/

src/latex/

src/inline_umlgraph_cache_all.pu
CMakeUserPresets.json

Release/
